<div *ngIf="!hide; else buttonShow">
  <app-nestedcomponent1 [estudiantesList]="estudiantesList"></app-nestedcomponent1>
  <app-nestedcomponent2 [title]="'Save'"></app-nestedcomponent2>
  <app-nestedcomponent2 (hide)="onHide($event)"></app-nestedcomponent2>
  <app-employeelist [employeeList]="employeeList"></app-employeelist>
  <app-parent-output></app-parent-output>
  <app-democomponent [componentName]="'DEMO'"></app-democomponent>
  <button #myButton class="btn btn-primary">Delete</button>
</div>
<ng-template #buttonShow>
  <button class="btn btn-primary" (click)="onHide(false)">Show Everything</button>
</ng-template>